on:
  push:
    branches:
      - 'main'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.9

      - name: Install dependencies with pipenv
        run: |
          pip install pipenv
          pipenv install --deploy --dev

      - run: pipenv run isort --recursive --diff wordle_main
      - run: pipenv run black --check wordle_main
      - run: pipenv run flake8 wordle_main
      - run: pipenv run mypy wordle_main
      - run: pipenv run pytest --cov --cov-fail-under=100